<h1><%= @title %></h1>

<%= form_for([@diary, @entry]) do |f| %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end  %>

<table>
  <tr>
    <% @diary.opt_columns.each do |col|  %>
      <th><%= col.name %></th>
    <% end  %>
  </tr>
</table>
<%= form_for([@diary, @opt_record], :remote => true) do |f| %>
  <% @diary.opt_columns.each do |col|  %>
    <% key = ("c"+col.id.to_s).to_sym  %>
    <%= f.label key, col.name %><br>
    <%= f.text_field key %>
  <% end  %>
<% end  %>
