<h1><%= t'diaries.edit.title' %></h1>

<%= form_for(@diary) do |f| %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit t('.submit') %>
  </div>
<% end  %>

<hr />

<table>
  <tr>
    <th>Column name</th>
    <th>Column type</th>
  </tr>
  <% @opt_columns.each do |col|  %>
    <tr>
      <td><%= col.name %></td>
      <td><%= OptColumn.col_type_name(col.col_type) %></td>
    </tr>
  <% end  %>
</table>

<%= form_for([@diary, @opt_column]) do |f| %>
  <div>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :col_type %><br />
      <%= f.select :col_type, [["Integer", OptColumn::COL_INTEGER], ["Float", OptColumn::COL_FLOAT]] %>
    </div>
    <div class="actions">
      <%= f.submit "Add column" %>
    </div>
  </div>
<% end %>
