
<header>
  <h1><%= @diary.title %></h1>
  <p><%= @diary.desc %></p>
  <% if signed_in? %>
    <ul>
      <li><%= link_to "Write a new entry", new_diary_entry_path(@diary) %></li>
      <li><%= link_to "Edit", edit_diary_path(@diary) %></li>
    </ul>
  <% end  %>
</header>

<% @diary.entries.each do |entry| %>
  <article class="entry round10">
    <header>
      <p class="meta">Updated: <%= entry.updated_at.localtime.strftime("%Y/%m/%d %H:%M:%S") %></p>
      <h2><%= link_to entry.date.to_s, [@diary, entry] %></h2>
    </header>
  </article>
<% end  %>

