
<nav>
  <%= link_to "Back to records", diary_opt_records_path(@diary) %>
</nav>

<div id="chart-<%= @opt_column.ckey %>" style="width:600px; height:400px">
</div>

<% if @opt_records.empty?  %>
  There is no record for column "<%= @opt_column.name %>".
<% else %>
  <table>
    <tr><th>Time</th><th><%= @opt_column.name %></th></tr>
    <% @opt_records.each do |record| %>
      <tr><td><%= l(record.time, :format => :short) %></td><td><%= record.value[@opt_column.ckey] %></td></tr>
    <% end  %>
  </table>

  <script src="<%= diary_opt_column_path(@diary, @opt_column, :format => :js) %>">
  </script>
<% end %>
