<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Slackey' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "application-print", :media => 'print' %>
    <%= javascript_include_tag "application" %>
    <!--[if lt IE 8]>
    <%= stylesheet_link_tag 'application-ie.css' %>
    <![endif]-->
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <header class="main">
        <nav class="round">
          <ul>
	    <% if signed_in? %>
              <li><%= "signed in as #{current_user.name}" %></li>
            <% end %>
            <li><%= link_to "Home", root_path, :class => "blue button" %></li>
            <% if signed_in? %>
              <li><%= link_to "Setting", edit_user_path(current_user), :class => "blue button" %></li>
              <li><%= link_to "Sign out", signout_path, :class => "red button" %></li>
            <% else %>
              <li><%= link_to "Sign in", signin_path, :class => "blue button" %></li>
            <% end %>
          </ul>
        </nav>
	<h1><%= link_to "VOLVOX", root_path %></h1>
	<h2><%= link_to "Your pet diary", root_path %></h2>
      </header>

      <section class="main">
        <% flash.each do |key, value| %>
	  <%= content_tag(:div, value, :class => "flash #{key}") %>
        <% end %>
        <%= yield %>
      </section>

      <% if Rails.env.development? %>
      <section class="console">
        <%= debug(params) %>
        <%= debug(session) %>
      </section>
      <% end %>
    </div>
  </body>
</html>
