<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <header>
        <%= link_to(image_tag("volvox-logo.png"), root_path) %>
        <nav>
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <% if signed_in? %>
            <li><%= link_to "Setting", edit_user_path(current_user) %></li>
            <li><%= link_to "Sign out", signout_path %></li>
            <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
            <% end %>
            <%= "signed in as #{current_user.name}" if signed_in? %>
          </ul>
        </nav>
      </header>

      <section class="main round">
        <% flash.each do |key, value| %>
	  <%= content_tag(:div, value, :class => "flash #{key}") %>
        <% end %>
        <%= yield %>
      </section>

      <% if Rails.env.development? %>
      <section class="console">
        <%= debug(params) %>
        <%= debug(session) %>
      </section>
      <% end %>
    </div>
  </body>
</html>
